<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Wings Viewer</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/logos/favicon.ico">
    <link rel="stylesheet" href="/css/viewer.css">
</head>

<body class="bg-dark text-white customDarkBgLight">
    <nav class="navbar navbar-expand-sm bg-body-tertiary transparent px-sm-5">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <div>
                    <a class="navbar-brand z-3" href="/">
                        <img src="/logos/gw_logo.svg" width="120px" height="120px" alt="GlobalWings">
                    </a>
                </div>
                <div class="d-flex w-100 justify-content-center">
                    <ul class="navbar-nav mb-2 mb-lg-0 text-white">
                        <li class="nav-item px-3">
                            <a class="nav-link active text-light" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item px-3">
                            <a class="nav-link text-light" href="model">Aircrafts</a>
                        </li>
                        <li class="nav-item px-3 dropdown text-light">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                More
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="d-flex">
                <button class="btn btn-outline-primary mx-3">Signup</button>
                <button class="btn btn-primary">Login</button>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="flex scaleUp mt-3">
            <p class="text-center fs-1 m-0 p-0 fw-bold">
                <%= aircraft.name || 'Unknown Name' %>
            </p>
            <p class="text-center fs-5 m-0 p-0">
                <%= aircraft.model || 'Unknown Model' %>
            </p>
        </div>
    </div>

    <div class="w-100 transparent TopMarginMinux">
        <div class="card border-0 bg-dark text-white transparent">
            <div class="card-body">
                <!-- Change Model with Dynamic EJS -->
                <model-viewer src="/models/<%= aircraft.id || 'hal_tejas' %>.glb" alt="3D model of an aircraft" auto-rotate
                    camera-orbit="40deg 75deg auto" shadow-intensity="1.5" ar ar-modes="webxr scene-viewer quick-look"
                    camera-target="0m 1m 3m" field-of-view="70deg" camera-controls touch-action="pan-y" class="w-100 heightFive">
                </model-viewer>
            </div>
        </div>
    </div>

    <div class="container d-flex  justify-content-center align-items-center TopMarginMinux minusTopMargin80">
        <div class="d-flex flex-wrap justify-content-center d-lg-none">
            <div class="card text-bg-dark mb-3 px-2 mx-1 transparent">
                <p class="fs-6 m-0 p-0">Type</p>
                <p class="fs-2 m-0 p-0 text-info fw-bold">
                    <%= aircraft.type || 'Unknown Type' %>
                </p>
            </div>
            <div class="card text-bg-dark mb-3 px-2 mx-3 transparent">
                <p class="fs-7 m-0 p-0">Speed</p>
                <p class="fs-2 m-0 p-0 text-info fw-bold ">
                    <%= aircraft.speed ? aircraft.speed : 'Unknown Speed' %><span class='fs-6'> km/h</span>
                </p>
            </div>
            <div class="card text-bg-dark mb-3 px-2 mx-3 transparent">
                <p class="fs-7 m-0 p-0">Range</p>
                <p class="fs-2 m-0 p-0 text-info fw-bold">
                    <%= aircraft._range ? aircraft._range : 'Unknown Range' %><span class='fs-6'> Km</span>
                </p>
            </div>
            <div class="card text-bg-dark mb-3 px-2 mx-3 transparent">
                <p class="fs-7 m-0 p-0">Fuel Capacity</p>
                <p class="fs-2 m-0 p-0 text-info fw-bold">
                    <%= aircraft.fuel_capacity ? aircraft.fuel_capacity : 'Unknown Fuel Capacity' %><span class='fs-6'>
                            L</span>
                </p>
            </div>
            <div class="card text-bg-dark mb-3 px-2 mx-3 transparent">
                <p class="fs-7 m-0 p-0">Weight</p>
                <p class="fs-2 m-0 p-0 text-info fw-bold">
                    <%= aircraft.weight ? aircraft.weight : 'Unknown Weight' %><span class='fs-6'> Kg</span>
                </p>
            </div>
        </div>

        <!-- for lage screen card -->
        <div class="card-group fixed-top top-20 d-none d-lg-block  mx-5 custom_positon" style="width: 13rem;">
            <div class="card text-bg-dark mb-3 px-2 mx-3 transparent">
                <p class="fs-6 m-0 p-0">Type</p>
                <p class="fs-2 m-0 p-0 text-info fw-bold">&ensp;
                    <%= aircraft.type || 'Unknown Type' %>
                </p>
            </div>
            <div class="card text-bg-dark mb-3 px-2 mx-3 transparent">
                <p class="fs-7 m-0 p-0">Speed</p>
                <p class="fs-2 m-0 p-0 text-info fw-bold ">&ensp;
                    <%= aircraft.speed ? aircraft.speed : 'Unknown Speed' %><span class='fs-6'> km/h</span>
                </p>
            </div>
            <div class="card text-bg-dark mb-3 px-2 mx-3 transparent">
                <p class="fs-7 m-0 p-0">Range</p>
                <p class="fs-2 m-0 p-0 text-info fw-bold">&ensp;
                    <%= aircraft._range ? aircraft._range : 'Unknown Range' %><span class='fs-6'> Km</span>
                </p>
            </div>
            <div class="card text-bg-dark mb-3 px-2 mx-3 transparent">
                <p class="fs-7 m-0 p-0">Fuel Capacity</p>
                <p class="fs-2 m-0 p-0 text-info fw-bold">&ensp;
                    <%= aircraft.fuel_capacity ? aircraft.fuel_capacity : 'Unknown Fuel Capacity' %><span class='fs-6'>
                            L</span>
                </p>
            </div>
            <div class="card text-bg-dark mb-3 px-2 mx-3 transparent">
                <p class="fs-7 m-0 p-0">Weight</p>
                <p class="fs-2 m-0 p-0 text-info fw-bold">&ensp;
                    <%= aircraft.weight ? aircraft.weight : 'Unknown Weight' %><span class='fs-6'> Kg</span>
                </p>
            </div>
        </div>

        <!-- RIGHT DIV FOR Missons shows -->
        <div class="card-group position-fixed d-none d-lg-block  mx-5 custom_positon2" style="width: 13rem;">
            <div class="card text-white bg-dark border-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                  <h5 class="card-title">Light card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
        </div>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/js/model-viewer.min.js"></script>
</body>

</html>